

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


.validate, .notFound {
	color: #FF8888;
	font-size: 18px;
}

.notFound {
	font-size: 18px;
}

.social-share {
	text-align: center;
}

.alert {
	font-size: 18px;
}

.updated {
	font-size: 18px;
}












