<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang=""> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>八仙爆炸案傷患查詢(最後更新時間)</title>
        <meta name="description" content="八仙爆炸案傷患查詢網站，天佑臺灣, 粉塵, 爆炸, 八仙, 閃燃, 八仙爆炸">
        <meta name="keywords" content="八仙爆炸案傷患查詢網站，天佑臺灣, 粉塵, 爆炸, 八仙, 閃燃, 八仙爆炸">
        <meta name="author" content="HackNTU 臺大黑客松">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="apple-touch-icon" href="/img/logo2.png">
        <meta property="og:title" content="八仙爆炸案傷患查詢網，一切平安" />
        <meta property="og:type" content="website" />
        <meta property="og:image" content="http://hackntu.github.io/patient8/img/logo2.png" />
        <link rel="icon" href="/img/logo2.png">
        <meta property="og:description" content="八仙爆炸案傷患查詢網，一切平安" />
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <style>
            body {
                padding-top: 50px;
                padding-bottom: 20px;
            }
        </style>
        <link rel="stylesheet" href="css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="css/main.css">
        <link rel="stylesheet" href="css/jumbotron-narrow.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootswatch/3.3.2/lumen/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
        <script src="js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

        <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.14/angular.min.js"></script>        
    </head>
    <body ng-app="app">
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
    <div class="container" ng-controller="searchCtrl">
      <div class="header clearfix">
        <nav>
          <h3 class="text-muted">八仙爆炸案傷患查詢</h3>
        </nav>
      </div>

      <div class="jumbotron">
        <div><label class="lead">請輸入傷患姓名全名</label></div>
        <div><input type="text" class="form-control" name="username" ng-model="username" placeholder="請輸入姓名" required></div>
        <br>
        <div ng-show="validate" class="validate">請輸入完整姓名</div>
        <br>
        <div><label class="lead">請選擇傷患性別</label></div>
        <select class="form-control" name="sex" ng-model="sex" required ng-init="sex=0">
          <option value="0">男性</option>
          <option value="1">女性</option>
        </select>
        <br>
        <p><a class="btn btn-lg btn-success" href="#" role="button" ng-click="handleSearch()">提交搜尋</a></p>
        <br>
        <hr>
        <div ng-show="patientList">
          <table class="table table-hover">
            <tr>
              <th>編號</th>
              <th>姓名</th>
              <th>性別</th>
              <th>年齡</th>
              <th>國籍</th>
              <th>縣市別</th>
              <th>收治單位</th>
              <th>醫療檢傷</th>
              <th>救護檢傷</th>
              <th>即時動向</th>
              <th>轉診要求</th>              
<!--               <th>檢傷編號</th>
              <th>刪除註記</th> -->
            </tr>
            <tr>
              <td ng-bind="patient['編號']"></td>
              <td ng-bind="patient['姓名']"></td>
              <td ng-bind="patient['性別']"></td>
              <td ng-bind="patient['年齡']"></td>
              <td ng-bind="patient['國籍']"></td>
              <td ng-bind="patient['縣市別']"></td>
              <td ng-bind="patient['收治單位']"></td>
              <td ng-bind="patient['醫療檢傷']"></td>
              <td ng-bind="patient['救護檢傷']"></td>
              <td ng-bind="patient['即時動向']"></td>              
              <td ng-bind="patient['轉診要求']"></td>              
<!--               <td ng-bind="patient['轉診要求']"></td>
              <td ng-bind="patient['檢傷編號']"></td>
              <td ng-bind="patient['刪除註記']"></td> -->
            </tr>
          </table>
        </div>  
        <div ng-show="notFound">
          <div class="notFound">目前無患者相關資料</div>
        </div>
        <br>
        <div>
            <p>最後更新時間:{{ updated_at }} / 資料來源:臺北市府資訊局</p>
          </div>
      </div>

      <div class="row marketing">
        <div class="social-share">
          <div><h4>所有第一線的消防兄弟姊妹和醫護人員您們辛苦了！</h4></div>
          <div><h4>希望所有患者一切平安，<a href="https://www.facebook.com/hackNTU" target="_blank">HackNTU</a> 為你們加油：）</h4></div>
<span>
<script type="text/javascript" src="//media.line.me/js/line-button.js?v=20140411" ></script>
<script type="text/javascript">
new media_line_me.LineButton({"pc":false,"lang":"zh-hant","type":"a"});
</script>
</span>
          <span class="fb-like fb-like-center" data-href="http://hackntu.github.io/patient8/" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true"></span>
          <br>
        </div>
      </div>
      <footer class="footer">
        <p>Made by <a href="https://www.facebook.com/hackNTU" target="_blank">HackNTU</a> with <i class="fa fa-heart"></i></p>
      </footer>

    </div> <!-- /container -->
    </div> <!-- /container -->        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.2.min.js"><\/script>')</script>

        <script src="js/vendor/bootstrap.min.js"></script>

        <script src="js/app.js"></script>

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='//www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','UA-XXXXX-X','auto');ga('send','pageview');
        </script>
        <div id="fb-root"></div>
        <script>(function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) return;
          js = d.createElement(s); js.id = id;
          js.src = "//connect.facebook.net/zh_TW/sdk.js#xfbml=1&appId=784846378270838&version=v2.0";
          fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>
    </body>
</html>
